<div class="container">

  <form class="form-signin">
    <h2 class="form-signin-heading">Ingrese a su cuenta:</h2>
    <label for="inputEmail" class="sr-only">Correo electr칩nico</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Correo electr칩nico" required autofocus>
    <label for="inputPassword" class="sr-only">Contrase침a</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Contrase침a" required>
    <div class="checkbox">
      <label>
            <input type="checkbox" value="remember-me"> Recordarme
          </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
  </form>

</div>
