<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="pill" href="#perfil">Mi perfil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="pill" href="#grupos">Grupos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="pill" href="#fasefinal">Fase final</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="pill" href="#ranking">Ranking</a>
  </li>
</ul>
