<footer>
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <p>
          &copy; 2018. Todos los derechos reservados. <a href="readme">Readme.</a>
        </p>
      </div>
    </div>
  </div>
</footer>
