<section id="nosotros">
  <div class="container-fluid">
    <div class="row horizontal-panel-1 justify-content-center align-items-center">
      <div class="col-md-8">
        <div class="text-center">
          <img src="../images/logopromun.png" class="img-logo">
          <h1>14 JUN - 15 JUL</h1>
          <p class="lead">
            El mundial de Rusia ya está acá.
          </p>
          <p class="lead">
            ¡Envía tus pronósticos sobre cada partido y acumulá la mayor cantidad de puntos!
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <a class="twitter-timeline" href="https://twitter.com/hashtag/fifaworldcup" data-widget-id="991475611301502977">#fifaworldcup Tweets</a>
        <script>
          ! function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
              p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
              js = d.createElement(s);
              js.id = id;
              js.src = p + "://platform.twitter.com/widgets.js";
              fjs.parentNode.insertBefore(js, fjs);
            }
          }(document, "script", "twitter-wjs");
        </script>

      </div>
    </div>
  </div>
  </div>
</section>
