<section id="comoJugar">
  <div class="container-fluid">
    <div class="row horizontal-panel-1 justify-content-center align-items-center">
      <div class="col-md-12">
        <div class="text-center">
          <h1 class="text-primary">¿Cómo jugar?</h1>
          <p class="lead">
            El primer paso para poder jugar es iniciar sesion con tu cuenta de Facebook
          </p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCrearCuenta">Iniciar Sesion</button>
        </div>
      </div>
    </div>
  </div>
</section>
