<section id="nosotros">
  <div class="container-fluid">
    <div class="row horizontal-panel-1 justify-content-center align-items-center">
      <div class="col-md-8">
        <div class="text-center">
          <img src="../images/logopromun.png" class="img-logo">
          <h1>14 JUN - 15 JUL</h1>
          <p class="lead">
            El mundial de Rusia ya está acá.
          </p>
          <p class="lead">
            ¡Envía tus pronósticos sobre cada partido y acumulá la mayor cantidad de puntos!
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="border">
          {{> tweets}}
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
