<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../stylesheets/bootstrap-darkly.css">

  <!-- Page icon -->
  <link rel="icon" type="image/png" href="../images/logopromun.png">

  <title>{{title}}</title>
</head>

<body>
  {{> navbar}}

  {{> footer}}
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="../javascripts/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="../javascripts/bootstrap.js"></script>
</body>

</html>
