<!DOCTYPE HTML>
<html lang="en">

<head>

  {{> metatags}} {{> bootstrap}} {{> pageIcon}}

  <title>{{title}}</title>
</head>

<body id="body">
  {{> navbar}}
  {{> seccionNosotros}}
  {{> seccionSlides}}
  {{> seccionComoJugar}}
  {{> footer}}

  {{> modalCrearCuenta}}
  {{> scripts}}

  <script type="text/javascript">
    $('.carousel').carousel({
      interval: 3000
    })
  </script>
  <script src="./javascripts/animatescroll.js"></script>
</body>

</html>
