<!DOCTYPE HTML>
<html lang="en">

<head>

  {{> metatags}} {{> style}} {{> pageIcon}}
  <link rel="stylesheet" href="../stylesheets/admin.css">

  <title>{{title}}</title>
</head>

<body id="body">
  ADMIN PAGE
  <script src="javascripts/temas.js"></script>
  <script src="javascripts/main.js"></script>
</body>

</html>
