<!DOCTYPE HTML>
<html lang="en">

<head>

  {{> metatags}}

  {{> bootstrap}}

  <link href="../stylesheets/login.css" rel="stylesheet">

  {{> pageIcon}}

  <title>{{title}}</title>
</head>

<body>
  {{> loginForm}}

  {{> scripts}}
  <script src="javascripts/temas.js"></script>
  <script src="javascripts/main.js"></script>
</body>

</html>
