<!DOCTYPE HTML>
<html lang="en">

<head>

  {{> metatags}} {{> bootstrap}} {{> pageIcon}}
  <link rel="stylesheet" href="../stylesheets/user.css">
  <link rel="stylesheet" href="../stylesheets/fontawesome-all.css">
  <title>{{title}}</title>
</head>

<body id="body">
  {{> navbarUser}}

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        {{> menuLateral}}
      </div>
      <div class="col-md-6">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="perfil">
            {{> perfil}}
          </div>
          <div class="tab-pane fade show" id="grupos">
            {{> grupos}}
          </div>
          <div class="tab-pane fade show" id="octavos">
            {{> octavos}}
          </div>
          <div class="tab-pane fade show" id="cuartos">
            {{> cuartos}}
          </div>
          <div class="tab-pane fade show" id="semis">
            {{> semis}}
          </div>
          <div class="tab-pane fade show" id="final">
            {{> final}}
          </div>
          <div class="tab-pane fade show" id="ranking">
            {{> ranking}}
          </div>
        </div>

      </div>
      <div class="col-md-3">
        {{> tweets}}
      </div>
    </div>
  </div>




  {{> modalComoJugar}}

  {{> footer}} {{> scripts}}
  <script src="javascripts/temas.js"></script>
  <script src="javascripts/main.js"></script>

</body>

</html>
