<h1 class="text-center">Final</h1>
<div id="accordionCuartos">
  <ul class="list-group my-3">
    {{#each partidosFaseFinal}}
      {{#is this.fase 'final'}}
        {{> partidosFaseFinal}}
      {{/is}}
    {{/each}}
  </ul>
</div>
