<div class="position-fixed menu-lateral">
<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="pill" href="#perfil">Mi perfil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="pill" href="#grupos">Grupos</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">Playoffs</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" data-toggle="pill" href="#octavos">Octavos de final</a>
      <a class="dropdown-item" data-toggle="pill" href="#cuartos">Cuartos de final</a>
      <a class="dropdown-item" data-toggle="pill" href="#semis">Semifinales</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" data-toggle="pill" href="#final">Final</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="pill" href="#ranking">Ranking</a>
  </li>
</ul>
</div>
