<div class="modal fade" id="modalComoJugar" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">¿Cómo jugar?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Podes ingresar pronósticos sobre los partidos que vos quieras. Una vez
          que el partido se haya jugado se compara tu pronóstico con el
          resultado verdadero, según tus aciertos estos son tus puntos:
        </p>
        <table class="table">
          <thead>
            <tr>
              <th>Predicción</th>
              <th>Estrellas</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Pronóstico idéntico al resultado real.</td>
              <td class="text-center">5 <i class="fas fa-star" style="color: yellow;"></i></td>
            </tr>
            <tr>
              <td>El prónostico fue acertado sobre el resultado global (quién
                ganó o si fue empate) y también fue acertada la predicción
                sobre los goles que metió uno de los dos equipos.</td>
              <td class="text-center">4 <i class="fas fa-star" style="color: yellow;"></i></td>
            </tr>
            <tr>
              <td>El pronóstico fue acertado sobre el resultado global pero
              errado en la cantidad de goles que metió cada equipo.</td>
              <td class="text-center">3 <i class="fas fa-star" style="color: yellow;"></i></td>
            </tr>
            <tr>
              <td>El pronóstico fue erróneo sobre el resultado global pero se
              acertó la cantidad de goles que metió uno de los dos equipos.</td>
              <td class="text-center">2 <i class="fas fa-star" style="color: yellow;"></i></td>
            </tr>
            <tr>
              <td>El pronóstico fue erróneo sobre el resultado global y
              tampoco se acertó la cantidad de goles de ninguno de los dos
              equipos</td>
              <td class="text-center">1 <i class="fas fa-star" style="color: yellow;"></i></td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
      </div>
    </div>
  </div>
</div>
