<div class="container">
  <div class="row align-items-center">
    <div class="col-4">
      <img src={{foto}}/>
    </div>
    <div class="col-4 text-center">
      <span class="username">{{nombre}}</span>
    </div>
    <div class="col-4 text-center">
      <span class="puntaje">{{puntaje}}<i class="fas fa-star" style="color: yellow;"></i></span>
    </div>
  </div>
</div>
