<div class="container">
  <div class="row align-items-center">
    <div class="col-4">
      <img src={{usuario.photo_path}} class="img-fluid img-thumbnail"/>
    </div>
    <div class="col-4 text-center">
      <span class="username">{{usuario.username}}</span>
    </div>
    <div class="col-4 text-center">
      <span class="puntaje">5 <i class="fas fa-star" style="color: yellow;"></i></span>
    </div>
  </div>
</div>
